@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-dark: #212629;
    --color-light: #eee;
    --color-light-accent:#e4e4e4;
}

*{
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

body {
    position: relative;
    background: var(--color-dark);
}
#v2-visual {
    position: sticky;
    top: 0px;
    z-index: 0;
    background: var(--color-dark);
}
*,p,h2 {
    font-family: 'Montserrat';
}
#v2-visual .wrapper {
    display: block;
    overflow: hidden;
    margin: 0 auto 50vh;
    height: 50vh;
    padding: 10vh 10vw;
}
#v2-visual .container {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
}
.v2-visual-picture {
    width: 100%;
    max-height: 100%;
    position: absolute;
    right: -150%;
    opacity: 0;
    transform: scale(1.5) translateY(20px);
    transition: right 2s, transform 2s, opacity 1s;
}
.v2-visual-picture.visible {
    right: 0px;
    opacity: 1;
    transform: scale(1) translateY(0px);
    transition: right 2s, transform 2s, 1.5s opacity .5s ;
}

#v2-visual:before {
    content:"";
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(.5px);
}

article {
    position: relative;
}

/* article::before {
    content:"";
    display: block;
    width: 100%;
    height: 64px;
    position: sticky;
    top: 0vh;
    background: var(--color-dark);
    z-index: 4;
} */

.v2-article-step {
    position: relative;
    min-height: 50vh;
    padding: 20vh 8px 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -35vh;
}

.v2-step-text::after {
    content: '\2191';
    display: block;
    position: absolute;
    top: -7vh;
    left: 50%;
    margin-left: -12px;
    color: #ffffff30;
    font-size: 48px;
}

.v2-article-step:first-child {
    margin-top: -140vh;
}

.v2-step-header {
    position: sticky;
    top: 45vh;
    padding: 12px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60vh;
}

.v2-step-header span {
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -4px;
    z-index: -1;
    color: #ffffff30;
}

.v2-step-header h2{
    display: block;
    text-align: center;
    font-style: oblique;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-light);
    max-width: 800px;
    font-size: 40px;
    line-height: 1;
    text-shadow:  rgb(255, 68, 174) -1px 0px, rgb(17, 128, 0) 3px 0;
}

.v2-step-text {
    max-width: 800px;
    padding: 10vh 0 10vh;
    margin: auto 0;
    background: var(--color-light);
    margin-top: 50vh;
    z-index: 2;
    border-radius: 24px;
    position: relative;
    box-shadow:  rgb(255, 68, 174) -.5px 0px, rgb(17, 128, 0) 2px 0;
}

.v2-step-text p {
    font-size: 20px;
    padding: 8px 24px;
    line-height: 1.2;
    letter-spacing: .8;
    text-align: justify;
}

.v2-step-text .v2-visual-text span.accent {
    display: block;
    margin: 32px 0px;
    padding: 16px 64px 16px 16px;
    border-radius: 12px;
    background: rgb(175, 255, 175);
    color: #000000a0;
    position: relative;
    font-weight: 700;
    text-align: left;
}
.v2-step-text .v2-visual-text span.accent::before {
    content: "!";
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;
    height: 100%;
    bottom: 0;
    font-size: 5rem;
    color: #000000a0;
    z-index: 0;
}

.v2-step-text .v2-visual-text span.accent-addition {
    display: block;
    padding: 32px 16px 16px 16px;
    margin-top: -48px;
    background: rgba(175, 255, 175, 0.3);
    border-radius: 0 0 12px 12px;
    margin-bottom: 16px;
}

.v2-card-container {
    margin: 32px 0;
    padding: 8px 24px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.v2-card {
    display: flex;
    height: 160px;
    border-radius: 12px;
    align-items: center;
    gap: 12px;
    background: #fff;
    overflow: hidden;
    padding: 12px;
    min-width: 280px;
    flex: 1;
    max-width: 400px;

}

.v2-card-text {
    font-size: 14px;
    max-width: 180px;
    color: #444;
}

.v2-card-text>span.accent {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 4px 0;
    color: #000;
}

.v2-card img {
    object-fit: contain;
    max-height: 100%;
    width: 120px;
}

.v2-card-link {
    display: block;
    display: none;
    margin-top: 8px;
}

.v2-step-text figure {
    padding: 24px;
}

.v2-step-text figure img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}



@media (max-width: 600px) {
    
    .v2-step-header h2 {
        font-size: 32px;
        line-height: .9;
    }

    .v2-step-text {
        padding: 6vh 0 6vh;
    }

    .v2-step-text p {
        font-size: 16px;
        padding: 8px 16px;
    }

    .v2-step-text span.important-container {
        text-align: left;
    }

    .v2-visual-picture {
        transition: right 1.5s, transform 1.5s, opacity 1s;
        transform: scale(1.5) translateY(20px);
    }

    .v2-visual-picture.visible {
        transition: right 1.5s, transform 1.5s, 1.5s opacity .5s ;
        transform: scale(1) translateY(0px);
    }
}

@media (min-width: 1200px) {
    #v2-visual {
        width: 40%;
        margin-left: auto;
    }
    #v2-visual .wrapper {
        height: 100vh;
        padding: 5vh 5vw;
    }

    article {
        width: 60%;
        margin-right: auto;
    }

    .v2-article-step {
        margin-bottom: -65vh;
    }

    .v2-article-step:first-child {
        margin-top: -210vh;
    }

    .v2-step-header {
        top: 20vh;
        margin-top: 80vh;
    }

    .v2-step-text {
        margin-top: 30vh;
    }
}